/* Basic Global Styles for Dark Mode */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text */
}

/* Header */
header {
    background-color: #1a1a1a; /* Darker shade for header */
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

/* Main Content */
main {
    padding: 20px;
}

/* Greeting Section */
#greeting {
    text-align: center;
}

#greeting h1 {
    color: #32a852; /* A bright color for headings */
    font-family: 'Montserrat', sans-serif; /* New font family */
    font-size: 3em;
}

#greeting p {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif; /* New font family */
    margin-bottom: 100px;
    font-size: 2em;
}


/*
.flex-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
}


/* Projects Section */
#projects {
    margin-bottom: 20px;
}

.project {
    background: #1c1c1a;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    width: 75%;
    max-width: 1100px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; /* Maintain flexbox layout */
    justify-content: space-between; /* Align children with space between */
}

.project-text {
    width: 45%; /* Decreased size for description */
    padding-right: 10%; /* Add right padding for spacing */
    font-size: 1.1em;
}

.project-img {
    width: 45%; /* Maintain width for image */
    display: flex;
    justify-content: center;
    align-items: center;
}

.project img {
    max-width: 100%; /* Image takes full width of its container */
    height: auto;
    border-radius: 8px;
}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 80%; /* Adjust based on desired size */
    height: 80%; /* Adjust based on desired size */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px; /* Adjust based on your image size */
}


/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}


/* About Section */
#about {
    clear: both; /* Clear floats */
    width: 95%;
    /* ... other styles ... */
}

#about h2, #about h3, #about p {
    font-family: 'Montserrat', sans-serif; /* Consistent font family */
}

#about h2 {
    color: #ffffff; /* Bright color for headings */
    font-size: 2.1em;
    margin-top: 80px;
}

#about h3 {
    color: #32a852; /* Bright color for subheadings */
    font-size: 1.5em;
}

#about p {
    color: #ffffff;
    line-height: 1.6;
    font-size: 1.2em;
}

#about .about-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}



/* Footer */
footer {
    background-color: #1a1a1a; /* Darker shade for footer */
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

#linkedin-icon, #github-icon {
    width: 60px; /* Adjust the size as needed */
    height: auto;
    vertical-align: middle;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    #about .about-container {
        flex-direction: column;
    }

    #about .about-text, #about .about-image {
        padding-right: 0;
        padding-left: 0;
        text-align: center;
    }

    nav a {
        display: block;
        margin-bottom: 10px;
    }
}
