/* Basic Global Styles for Dark Mode */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text */
}

/* Header */
header {
    background-color: #1a1a1a; /* Darker shade for header */
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

/* Main Content */
main {
    padding: 20px;
}

/* Greeting Section */
#greeting {
    text-align: center;
}

#greeting h1 {
    color: #32a852; /* A bright color for headings */
    font-family: 'Montserrat', sans-serif; /* New font family */
    font-size: 3em;
}

#greeting p {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif; /* New font family */
    margin-bottom: 100px;
    font-size: 2em;
}


/*
.flex-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
}



/* Projects Section */
#projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project {
    flex-basis: 48%; /* Adjust width as needed */
    margin-bottom: 20px;
    text-align: center; /* Center-align the title and description */
}

.project-title {
    color: #32a852; /* Green color for the title */
    font-size: 1.6em; /* Adjust size as needed */
    margin-bottom: 30px;
}

.project-img {
    width: 100%;
    border-radius: 8px;
}

.project img {
    width: 80%;
    height: auto;
    border-radius: 8px;
}

.project-description {
    color: #f1f1f1; /* Green color for the description */
    margin-top: 20px;
    text-align: center; /* Align the text to the left */
    font-size: 1.35em;
}

.project-description ul {
    padding-left: 20px; /* Adjust the padding to align the bullet points */
    list-style-position: inside; /* Position bullets inside the content flow */
}
.project-description .highlight {
    font-weight: bold; /* Makes text bold */
    color: #32a852; /* Changes color to green */
}

.project-description .highlight2 {
    font-weight: bold; /* Makes text bold */
    color: #6197EC; /* Changes color to blue */
}



/* Add this to ensure the layout does not break on smaller screens */
@media screen and (max-width: 900px) {
    #projects {
        flex-direction: column;
    }

    .project {
        flex-basis: 100%;
    }

    .project-separator {
        display: none; /* Hide the separator on smaller screens */
    }
}





/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 80%; /* Adjust based on desired size */
    height: 80%; /* Adjust based on desired size */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px; /* Adjust based on your image size */
}


/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}


/* About Section */
#about {
    clear: both; /* Clear floats */
    width: 95%;
    /* ... other styles ... */
}


#about h2, #about h3, #about p {
    font-family: 'Montserrat', sans-serif; /* Consistent font family */
}

.about-header {
    display: flex;
    align-items: center; /* This vertically aligns the items in the middle */
    justify-content: center; /* This horizontally centers the items */
    flex-direction: row; /* This ensures they are side by side */
}

#about h2 {
    color: #32a852; /* Bright color for headings */
    font-size: 2.35em;
    margin-top: 190px;
    text-align: center;
    margin-left: 75px;
    order: 1; /* This ensures the heading comes first */
}

#about-face {
    margin-left: 22px; /* Adds some space between the text and the image */
    width: 130px; /* Adjust the size as needed */
    height: auto;
    margin-top: 155px; /* Add some space above the image */
    align-items: center;
    order: 2; /* This ensures the image comes second */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .about-header {
        flex-direction: column; /* Stack them on smaller screens */
        align-items: center; /* Center-align the items */
    }


}

#about h3 {
    margin-top: 40px;
    color: #32a852; /* Bright color for subheadings */
    font-size: 1.5em;
}

#about p {
    color: #ffffff;
    line-height: 1.6;
    font-size: 1.2em;
}

#about .about-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}



/* Footer */
footer {
    background-color: #1a1a1a; /* Darker shade for footer */
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

#linkedin-icon, #github-icon {
    width: 60px; /* Adjust the size as needed */
    height: auto;
    vertical-align: middle;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    #about .about-container {
        flex-direction: column;
    }

    #about .about-text, #about .about-image {
        padding-right: 0;
        padding-left: 0;
        text-align: center;
    }

    nav a {
        display: block;
        margin-bottom: 10px;
    }
}
